.comments {
  list-style-type: none;

  background-color: var(--background-card);
  width: 100%;
  border-radius: 5px;
  border-bottom: 1px solid var(--second-color);
}

.comments li {
  display: flex;

  justify-content: space-between;
  margin-left: -2rem;
  padding: 1.5rem 0;
  border-bottom: 2px solid #ccc;
}

.comments p {
  margin: 0;
}

.comments li div {
  text-align: right;
  font-style: italic;
}

.comments address {
  display: inline;
  padding: 0 2rem 0 0;
}
