.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  margin-top: 5rem;
  background-color: var(--background-card);
  padding: 6rem 5rem;
  border-radius: 15px;
  max-height: 70rem;

  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: containerSliding 0.5s linear;
  position: relative;
}

.heart {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

.iconHeart {
  width: 4rem;
  height: 4rem;
  color: var(--main-color);
  position: relative;
}

.iconHeart:hover {
  color: rgb(184, 3, 3);
}
.activeHeart {
  color: rgb(184, 3, 3);
  animation: bump 0.3s ease-out;
}
.animatedHeart {
  position: absolute;
  top: 0px;
  left: 0px;
  width: max-content;
  text-align: center;
  font-size: 1.6rem;
  animation: animatedHeart 0.6s linear;
}

.error {
  color: rgb(184, 3, 3);
  font-size: 2rem;
}

@keyframes animatedHeart {
  0% {
    opacity: 1;
    top: -25px;
  }
  100% {
    opacity: 0;
    top: -80px;
    transform: scale(1.4);
  }
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes containerSliding {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.contentMain {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contentMain h1 {
  font-size: 3rem;
  align-self: center;
  margin-bottom: 3rem;
}
.contentMain h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.89);
  padding: 1rem 2rem;
  border-radius: 15px;
  color: var(--second-color);
}

.img {
  max-width: 50rem;
  text-align: center;
}

.statsHeading {
  text-align: center;
  font-weight: 700;

  text-transform: uppercase;
}

.content {
  align-self: center;
  margin-left: 6rem;
  background: var(--background-for-gradient-2);
  background: var(--gradient-main-color-2);
  padding: 2rem 4rem;
  border-radius: 15px;
  color: var(--second-color);
  flex: 1;
}
.content p {
  font-size: 2rem;
}

@media only screen and (max-width: 50em) {
  .container {
    padding: 6rem 3rem;
  }
  .content {
    margin-left: 8rem;
    padding: 1.5rem 3rem;
  }
  .img {
    max-width: 30rem;
  }
}

@media only screen and (max-width: 35em) {
  .section {
    max-height: 100%;
  }
  .container {
    max-width: 47.5rem;
    flex-direction: column;

    z-index: 99;
    margin-bottom: 25rem;
    max-height: 48.5rem;
  }
  .img img {
    width: 25rem;
  }

  .content {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;

    display: block;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    text-align: center;

    animation: statsAnimation 0.4s linear;
  }

  @keyframes statsAnimation {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
@media only screen and (max-width: 30em) {
  .container {
    max-width: 45rem;
  }
  .content {
    max-width: 45rem;
  }
  .img img {
    max-width: 20rem;
  }
}
