.link {
  width: max-content;
  font-size: 2rem;
  background-color: var(--main-color);
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-top: 2rem;
  color: var(--second-color);
  transition: all 0.2s;
  animation: animatedButton 0.4s linear;
  cursor: pointer;
}
.link:hover,
.link:active {
  background-color: var(--hoover-color);
  color: var(--hoover-inner-color);
}

@keyframes animatedButton {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
