.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
  height: 100%;
  align-items: center;
  justify-items: center;
}
.containerHeading {
  min-height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noItem {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(202, 54, 43);
  font-size: 2rem;
  width: 30rem;
  border-radius: 15px;
  padding: 1rem 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 35em) {
  .section {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
